COMPOSE_PROJECT_NAME=mag-pbx
SENMA_HTTP_PORT=8080
DB_HOST=db
DB_PORT=3306
DB_NAME=snep
DB_USER=snep
DB_PASSWORD=change-me-for-local-development
DB_ROOT_PASSWORD=change-root-for-local-development
TZ=America/Sao_Paulo
